@model IEnumerable<TRAVELANCAR.Models.pemesanan_univ>

@{
    ViewBag.Title = "DaftarPesanHotel";
}

<h2>Daftar Pemesanan Hotel</h2>

<table>
    <tr>
        <th>
            Hotel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </th>
        <th>
            Tanggal Booking&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </th>
        <th>
           Tanggal Check-IN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </th>
        <th>
            Tanggal Check-OUT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </th>
        <th>
            Kode Booking&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </th>
        <th>
            Total Harga&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nama_hotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tanggal_booking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tanggal_check_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tanggal_check_out)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kode_booking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_harga)
        </td>
    </tr>
}

</table>
